<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css<% if (cssPre) { %>({app,.tmp})<% } else { %>(app)<% } %> /<%= cssDir %>/main.css --><% if (h5bpCss) { %>
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css"><% } %><% if (jekPyg) { %>
    <link rel="stylesheet" href="/<%= cssDir %>/syntax.css"><% } %>
    <link rel="stylesheet" href="/<%= cssDir %>/main.css">
    <!-- endbuild --><% if (h5bpJs) { %>

    <!-- build:js<% if (jsPre) { %>({app,.tmp})<% } else { %>(app)<% } %> /<%= jsDir %>/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script><% } %>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    {% include scripts.html %}<% if (h5bpAnalytics) { %>
    {% include googleanalytics.html %}<% } %>

  </body>
</html>
